[submodule "interpreters/wasm-micro-runtime"]
	path = interpreters/wasm-micro-runtime
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
[submodule "ccf_transaction_processor/CCF"]
	path = ccf_transaction_processor/CCF
	url = https://github.com/microsoft/CCF.git
