#
# SPDX-License-Identifier: Apache-2.0
#

name: PDO CI
on: [pull_request, push]
jobs:
    pdo_ci:
        if: "!contains(github.event.commits[0].message, '[skip ci]')"
        name: PDO CI Job
        runs-on: ubuntu-20.04

        strategy:
            matrix:
                interpreter: [gipsy, wawaka, wawaka-opt]

        steps:
            - name: Check out repo
              uses: actions/checkout@v2

            - name: Build and run tests
              env:
                  PDO_INTERPRETER: ${{ matrix.interpreter }}
              run: |
                  # The creation of a dummy branch is necessary for the CI tests
                  # to work on PRs. Based on empirical results, in the absence of
                  # this command, CI tests work on the main branch and on local
                  # branches. However, they fail as a PR is created.
                  git checkout -b we-need-a-branch-for-below-to-work
                  make -C docker test
